pyrogram==2.0.96
tgcrypto
aiohttp
mutagen
psutil
aigpy
python-dotenv
jsonpickle
lyricsgenius
pydub
pycryptodomex
Pillow
psycopg2-binary
pathvalidate
music_tag
ffmpeg-python
librespot
python-telegram-bot==20.8
python-dotenv
pyrogram
tidal-dl
requests
pycryptodomex
music-tag
git+https://github.com/kokarare1212/librespot-python
